body {
  background-color: #000;
  color: #00ff66;
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

header, nav, main, footer {
  margin: 1em;
  padding: 1em;
  border: 2px dashed #0ff;
  background-color: #111;
}

a {
  color: #00ffff;
  text-decoration: none;
}

a:hover {
  color: #ff00ff;
  text-shadow: 0 0 2px #fff;
}

ul {
  list-style: none;
  padding-left: 0;
}

.glow {
  text-shadow: 0 0 5px #0f0;
}
